.blog {
  .item-image {
    margin: 0;
  }

  .shadowBox {
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
  }

  dd.published {
    border-left: 4px solid $black;
    line-height: 1.3;
    padding-left: 8px;
    color: $grey;
  }

  .item-content {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    padding: 25px;
  }

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: none;
      color: $black; // IMPORTANT: für Blogansicht weil die Boxen komplett verlinkt sind
    }
    &:visited {
      color: $black;
    }
  }

  // ####### Detail Page #########

  .com-content-article {
    position: relative;
  }

  // .blurredBackgroundContainer {
  //     height: calc(486px + 96px);
  //     left: 0;
  //     max-height: calc(54.18vw + 96px);
  //     overflow: hidden;
  //     position: absolute;
  //     top: 0;
  //     width: 100%;
  //     z-index: -1;

  //     img{
  //       filter: blur(8px);
  //    -webkit-filter: blur(8px);
  //     }
  // }

  .page-header {
    dd.published {
      border-left: none;
      line-height: 1.3;
      padding-left: 0px;
      color: $grey;

      // &::before{
      //   content: "PRESSEMITTEILUNG-";
      // }
    }
  }

  .firstArticle {
    .item-image {
      // width: 66.6666%;
      // float: left;
    }

    .shadowBox {
      margin-bottom: 25px;
      overflow: hidden;

      @media (min-width: 768px) {
        max-height: 370px;

        .item-content {
          max-height: 370px;
        }
      }
    }
  }
}
.com-content-category-blog {
  &__pagination {
    margin-top: 40px;

    .pagination {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .page-link {
      border: 0;
    }

    .page-item.active {
      .page-link {
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }
  &__item.blog-item {
    margin-bottom: 40px;
  }
}
