a {
  color: $primaryColor;
  text-decoration: none;

  &:active,
  &:visited {
    color: $primaryColor;
  }

  &:hover {
    color: $hoverColor;
    // text-decoration: none;
  }
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;

  //   @media (max-width: 400px) {
  //    font-size: 16px;
  //   }
}

h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.4rem;
}
h4{
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: $black;
}

img{max-width: 100%; width: 100%;}


.mb20 {
  margin-bottom: 20px;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle{
  
  background-color: $primaryColor;
  border-color: none;

  &:hover{
    background-color: $hoverColor;
  }
}

.btn{
  padding: 1px 6px;
  margin-top: 10px;
  
}